@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

:root {
  --mainTextColor-light: hsl(240, 100%, 10%);
  --secondaryTextColor-light: hsl(0, 0%, 20%);
  --mainLinkColor-light: hsl(188, 87%, 39%);
  --mainBorderColor-light: hsl(0, 0%, 85%);
  --mainBgColor-light: hsl(210, 20%, 98%);

  --mainTextColor-dark: hsl(0, 0%, 100%);
  --secondaryTextColor-dark: hsl(195, 2%, 69%);
  --mainLinkColor-dark: hsl(188, 75%, 48%);
  --mainBorderColor-dark: hsl(190, 7%, 18%);
  --mainBgColor-dark: hsl(240, 93%, 6%);

  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainLinkColor: var(--mainLinkColor-dark);
  --mainBorderColor: var(--mainBorderColor-dark);
  --mainBgColor: var(--mainBgColor-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5em;
}

body {
  font-family: 'Readex Pro', sans-serif;
  background-color: var(--mainBgColor);
  color: var(--mainTextColor);
}

p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

li {
  line-height: 1.9em;
}

#container--main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#bio,
a {
  font-weight: 300;
}

#user-name {
  font-size: 3em;
  line-height: 1em;
}

#profile--pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

#email {
  color: var(--mainTextColor);
}

#socials--list {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
}

#socials--list a {
  font-weight: 300;
  color: var(--secondaryTextColor);
  font-size: 0.9em;
  transition: 0.3s;
}

#socials--list a:hover {
  font-weight: 100;
  color: var(--mainLinkColor);
  font-size: 0.9em;
}

#qualifications--list {
  list-style: none;
}

.fa-check {
  color: green;
}

#wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

#card-group {
  display: flex;
  gap: 1em;
}

.card--title {
  font-weight: 200;
  font-size: 0.75em;
  margin-bottom: 0;
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
}

.card--techstack {
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
}

.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor);
}

.card--project a {
  color: var(--mainTextColor);

  transition: 0.3s;
}

.card--project a:hover {
  color: rgb(30, 190, 214);
}

#project--img {
  height: 500px;
  object-fit: cover;
}

@media(max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero{
        gap: 1em;
        flex-direction: column;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }


    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}
